.skills_wrap{
    width: 100%;
    height: 569px;
}
.h2{
    margin-top: 91px;
    text-align: center;
    font-family: 'Gilroy-Bold';
    font-size: 34px;
    line-height: 42px;
    text-align: center;
    color: #070707;
}
.p{
    margin-top: 69px;
    text-align: center;
    font-family: 'Gilroy-Medium';
    font-size: 18px;
    line-height: 22px;
    text-align: center;
    color: #070707;
}
.wrapper_ilustration{
    margin-top: 84px;
    display: flex;
    justify-content: space-around;
    margin-top: 23px;
}
.photoshop {
    text-align: center;
    width: 166px;
    height: 206px;
    font-family: 'Gilroy-Bold';
    font-size: 14px;
    line-height: 17px;
    text-align: center;
    color: #828282;
}